# PostgreSQL Relational Database (Local)
DATABASE_URL=postgresql+psycopg2://postgres:Sansen27%40@127.0.0.1:5433/meal_planner

# Food & Nutrition API
SPOONACULAR_API_KEY=
USDA_API_KEY=

# Google Oauth Login Approach (Modern Saas trend - Passwordless login)
GOOGLE_CLIENT_ID= 
GOOGLE_CLIENT_SECRET= 

# Gmail SMTP for Support System
SUPPORT_EMAIL=
GMAIL_APP_PASSWORD=